{% extends "maestra_2.html" %}
{% block titulo %} Alumnos {% endblock %}
{% block contenido %}

<section class="section">
    <div class="columns">
        <div class="column">
            <div class="columns">
                <img alt="www.uni.edu.pe"
                    src="https://cdn-icons-png.flaticon.com/512/1077/1077063.png"
                    style="max-height: 60px" />
                <h2 class="is-size-2">Lista de Usuarios</h2>
            </div>
            <a href="{{url_for('formulario_agregar_usuario')}}" style="background-color: #00c4a7;" class="button is-success"> <strong>Agregar Usuario</strong> </a>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID_Usuario</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Correo</th>
                        <th>Celular</th>
                        <th>Rol</th>
                        <th>Contraseña</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        <td>{{usuario[0]}}</td>
                        <td>{{usuario[1]}}</td>
                        <td>{{usuario[2]}}</td>
                        <td>{{usuario[3]}}</td>
                        <td>{{usuario[4]}}</td>
                        <td>{{usuario[5]}}</td>
                        <td>{{usuario[6]}}</td>
                        
                        <td>
                            {# Pasar el id lo que hay en juego[0] #}
                            <a href="{{url_for('editar_usuario', id=usuario[0])}}" class="button is-info">Editar</a>
                        </td>
                        
                        <td>
                            <form action="{{url_for('eliminar_usuario')}}" method="POST">
                                <input type="hidden" name="idUsuario" value="{{usuario[0]}}">
                                <button class="button is-danger">Eliminar</button>
                            </form>
                        </td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}

